.container {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  flex: 1;
}

.filtro {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 38px;
  flex: 1;
}

.MuiInput-input {
  font-size: 32px !important;
}

.card {
  max-width: 380px;
}

.containerCard {
  display: flex;
  flex-direction: row;
}

.viewRepos {
  display: flex;
  flex-direction: row;
}
.card,
.repos,
.close {
  margin: 26px;
}

.view {
  margin-left: 22px;
}
